body{
    transition: all 0.3s;
}
.dark-mode .wallet-area-warpper {
    background-color: #121212;
}
.dark-mode .wallet-top-header-box.user-top-detail ul,
.dark-mode .notification-dropdown,
.dark-mode .wallet-language-box .dropdown-menu,
.dark-mode .transfer-coin-input .dropdown .dropdown-menu {
    background-color: #333;
    box-shadow: 0px 0px 8px #222;
}
.dark-mode .transfer-coin-input .dropdown .dropdown-menu {
    border-color: #222;
}
.dark-mode .transfer-coin-input .dropdown .dropdown-menu li {
    border-color: #444;
    color: #bbb;
}
.dark-mode .transfer-coin-input .dropdown .dropdown-menu li:hover {
    background-color: #444;
}
.dark-mode .notification-dropdown::before, 
.dark-mode .profile-dropdown::before, 
.dark-mode .wallet-language-box .dropdown-menu::before{
    border-bottom-color: #333;
}
.dark-mode .notification-header h3 {
    background-color: #333;
    border-bottom: 1px solid #444;
}
.dark-mode .wallet-top-header-box.user-top-detail ul li a,
.dark-mode .notification-dropdown li,
.dark-mode .wallet-language-box .dropdown-menu li{
    border-color: #444;
}
.dark-mode .wallet-chart #chart,
.dark-mode .wallet-balance,
.dark-mode .wallet-transaction,
.dark-mode .transfer-coin-content-box,
.dark-mode .transfer-coin-btn a,
.dark-mode .profile-page-area-main,
.dark-mode .profile-reset-password .profile-information-box,
.dark-mode .invoice-qr-img img,
.dark-mode .invoice-qr-ammount-box {
    background-color: #222;
    box-shadow: 0px 0px 8px #111;
}
.dark-mode .invoice-qr-ammount-box {
    border-color: #333;
}
.dark-mode .header-logo,
.dark-mode .notification-dropdown .notification-footer a{
    background-color: #333;
}
.dark-mode .transfer-coin-btn a.active{
    background-color: #444;
}
.dark-mode .transfer-coin-input .dropdown,
.dark-mode .transfer-coin-input input,
.dark-mode .theme-input-box .theme-input,
.dark-mode .invoice-qr-ammount-box .invoice-qr-box .invoice-payment-url input {
    background-color: #333;
    border: 1px solid #333;
    box-shadow: 0px 0px 8px #222;
    color: #bbb;
}
.dark-mode .wallet-top-header, 
.dark-mode .transfer-coin-btn a:hover,
.dark-mode .edit-images .edit-label,
.dark-mode .header-box,
.dark-mode .invoice-qr-ammount-box .invoice-ammount-box::before {
    background-color: #222222;
}
.dark-mode .transfer-coin-btn a.active{
    background-color: #333;
}
.dark-mode .wallet-balance-area .wallet-balance-box {
    background-color: #222 !important;
    box-shadow: 0px 0px 8px #111;
    border: 0;
}
.dark-mode .wallet-balance-area .wallet-balance-box .my-wallet-address {
    background-color: #333;
    color: #ccc;
}
.dark-mode .wallet-transaction-box,
.dark-mode .wallet-balance-box,
.dark-mode .color-switcher,
.dark-mode .theme-color-swith,
.dark-mode .invoice-qr-ammount-box .invoice-ammount-box,
.dark-mode .invoice-qr-ammount-box .invoice-ammount-box::before{
    border-color: #333; 
}
.dark-mode .invoice-qr-ammount-box .invoice-qr-box .invoice-payment-url > i {
    border-color: #444;
}
.dark-mode .wallet-top-header-box .header-wallet-ico,
.dark-mode .wallet-top-header-box h3 {
    color: #fff !important;
}
.dark-mode .invoice-qr-ammount-box .invoice-ammount-box h2 {
    color: #FFF;
}
.dark-mode .wallet-top-header-right .notification-box-area .notification-box .notification-active {
    background-color: #fff;
}
.dark-mode .wallet-balance-box span,
.dark-mode .wallet-transaction-box .wallet-transaction-name span, 
.dark-mode .wallet-transaction-balance span,
.dark-mode .transfer-coin-input label,
.dark-mode .transfer-coin-input .input-two .input-two-box span,
.dark-mode .theme-color-swith a,
.dark-mode .wallet-balance-area .wallet-balance-box h3,
.dark-mode .modal-content .remove-popup h3,
.dark-mode .invoice-warning p,
.dark-mode .invoice-qr-ammount-box .invoice-ammount-box label,
.dark-mode .invoice-qr-ammount-box .invoice-qr-box label,
.dark-mode .transfer-coin-btn a,
.dark-mode .transfer-coin-btn a.active {
    color: #bbb;
}
.dark-mode .modal-content {
    background-color: #222;
}
.dark-mode .modal-content .remove-popuo-btn .cancel-btn {
    background-color: #333;
    color: #bbb;
}